innovators-skill/src/main/resources/onesaitplatform/data.json
{"$v":1,"$d":{"allData":[{"class":"com.minsait.onesait.platform.config.model.ApiQueryParameter","instances":[{"id":"a55b9955-206c-4053-bf99-cfb4aa93fb92","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","dataType":"OBJECT","name":"user","description":"","headerType":"PATH","id":"a55b9955-206c-4053-bf99-cfb4aa93fb92","value":null,"updatedAt":1600077635000}},{"id":"93a631bc-73c9-48d0-af1e-be892bb4d235","data":{"createdAt":1599585012000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"93a631bc-73c9-48d0-af1e-be892bb4d235","value":"sql","updatedAt":1599585012000}},{"id":"5a80a560-5cbe-484c-9b2c-34bac3b8b51f","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"718f29d3-5217-4542-9d6b-040dfeb6e2e8","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"5a80a560-5cbe-484c-9b2c-34bac3b8b51f","value":null,"updatedAt":1600077634000}},{"id":"abec986b-837e-43a9-a52c-1745c975deb0","data":{"createdAt":1599585012000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","dataType":"STRING","name":"date","description":"","headerType":"PATH","id":"abec986b-837e-43a9-a52c-1745c975deb0","value":null,"updatedAt":1599585012000}},{"id":"b60b3170-c0c4-46e2-89d8-e9c674dd9a6e","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","dataType":"OBJECT","name":"title","description":"","headerType":"PATH","id":"b60b3170-c0c4-46e2-89d8-e9c674dd9a6e","value":null,"updatedAt":1600077634000}},{"id":"656ec628-00f1-4962-9e88-52eabc79d6d0","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":null,"apiOperation":"a27e3c92-abdc-4b96-857c-6fd2d313017e","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"656ec628-00f1-4962-9e88-52eabc79d6d0","value":null,"updatedAt":1599236100000}},{"id":"11a93dec-71de-4b35-9f60-90139711896a","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"9761048b-1ea6-49c0-881a-8aeedcb86d67","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"11a93dec-71de-4b35-9f60-90139711896a","value":"sql","updatedAt":1600077634000}},{"id":"6a5de157-cf0f-483b-8b11-796db63ae74b","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"9761048b-1ea6-49c0-881a-8aeedcb86d67","dataType":"OBJECT","name":"title","description":"","headerType":"PATH","id":"6a5de157-cf0f-483b-8b11-796db63ae74b","value":null,"updatedAt":1600077634000}},{"id":"8f95eb84-b280-4ed4-84a3-70667721053b","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":null,"apiOperation":"50f988b4-2b2f-4cd2-b042-4548e648351d","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"8f95eb84-b280-4ed4-84a3-70667721053b","value":null,"updatedAt":1599047721000}},{"id":"329191a9-53b0-4397-bad8-947400389d9c","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"23d7c383-a516-46e0-9e10-de7137f63c51","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"329191a9-53b0-4397-bad8-947400389d9c","value":null,"updatedAt":1599236100000}},{"id":"d9b194f7-9b1a-4111-8f02-18c274a932a4","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"be093e5b-e123-4d5b-9efc-7527d719676e","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"d9b194f7-9b1a-4111-8f02-18c274a932a4","value":"sql","updatedAt":1600077635000}},{"id":"f57f5b99-1f20-4589-83a7-aa3a01d16420","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"718f29d3-5217-4542-9d6b-040dfeb6e2e8","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"f57f5b99-1f20-4589-83a7-aa3a01d16420","value":"sql","updatedAt":1600077634000}},{"id":"8e7a8a39-b1db-4a2a-a490-e11e6a81c84c","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","dataType":"STRING","name":"oid","description":"","headerType":"PATH","id":"8e7a8a39-b1db-4a2a-a490-e11e6a81c84c","value":null,"updatedAt":1600077634000}},{"id":"7d7c8b0d-6282-4742-8f37-e079c1dd9d12","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"9761048b-1ea6-49c0-881a-8aeedcb86d67","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"7d7c8b0d-6282-4742-8f37-e079c1dd9d12","value":"select t,_id from TeamTasks as t  where (t.TeamTasks.expiration_date={$date} or LOWER(t.TeamTasks.title) like '%{$title}%' ) and t.TeamTasks.assigned[*]={$user} ","updatedAt":1600077634000}},{"id":"afc8a326-eb49-4c94-8e6c-4cafcbaeb762","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"f2e54616-a42c-4c71-af97-c6409b22a1f9","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"afc8a326-eb49-4c94-8e6c-4cafcbaeb762","value":"rtdb","updatedAt":1600077634000}},{"id":"3ecd4a09-2bba-4d18-8bde-f6d1f18e21ea","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"23d7c383-a516-46e0-9e10-de7137f63c51","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"3ecd4a09-2bba-4d18-8bde-f6d1f18e21ea","value":"sql","updatedAt":1599236100000}},{"id":"f0de0eeb-84b3-48eb-8b0d-7de72129c977","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"be093e5b-e123-4d5b-9efc-7527d719676e","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"f0de0eeb-84b3-48eb-8b0d-7de72129c977","value":"UPDATE TeamTasks SET TeamTasks.state={$state} WHERE _id=OID({$oid})","updatedAt":1600077635000}},{"id":"b3b7850c-ea0d-436a-b177-76a810d5b4d5","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":null,"apiOperation":"368e2aab-e884-4fed-bff4-65cfbd0d670e","dataType":"STRING","name":"body","description":"","headerType":"BODY","id":"b3b7850c-ea0d-436a-b177-76a810d5b4d5","value":"","updatedAt":1599236100000}},{"id":"de89cbb5-22fd-4508-ad6c-c6a61f6cb34e","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"f2e54616-a42c-4c71-af97-c6409b22a1f9","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"de89cbb5-22fd-4508-ad6c-c6a61f6cb34e","value":"select t,_id from TeamTasks as t  where t.TeamTasks.expiration_date={$date} and t.TeamTasks.assigned[*]={$user}","updatedAt":1600077634000}},{"id":"2aced3f6-cf6f-4e41-a5c7-b18037d13dc6","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"718f29d3-5217-4542-9d6b-040dfeb6e2e8","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"2aced3f6-cf6f-4e41-a5c7-b18037d13dc6","value":"select u,_id from TeamTasks as u where u.TeamTasks.assigned[*]={$user} and u.TeamTasks.state!='COMPLETADA'","updatedAt":1600077634000}},{"id":"a9c1a165-e33f-4116-a3a9-0ebf3d1d5364","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"7579dcb6-2257-40a6-92dc-812d21294f5d","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"a9c1a165-e33f-4116-a3a9-0ebf3d1d5364","value":"sql","updatedAt":1599047721000}},{"id":"0dc2041a-f4f3-4195-8464-1cb9d308f33e","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"9761048b-1ea6-49c0-881a-8aeedcb86d67","dataType":"STRING","name":"date","description":"","headerType":"PATH","id":"0dc2041a-f4f3-4195-8464-1cb9d308f33e","value":null,"updatedAt":1600077634000}},{"id":"fb406322-adf9-4302-8e6b-61437e9f525e","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":null,"apiOperation":"9161161a-36d7-4f64-9fe8-5987d811e438","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"fb406322-adf9-4302-8e6b-61437e9f525e","value":null,"updatedAt":1599236100000}},{"id":"a0485a11-142d-4642-be44-2ba526df7ac6","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"a0485a11-142d-4642-be44-2ba526df7ac6","value":"select t,_id from TeamTasks as t  where  LOWER(t.TeamTasks.title) like '%{$title}%'  and t.TeamTasks.assigned[*]={$user}","updatedAt":1600077634000}},{"id":"1c2585aa-3811-4839-bf18-407e1477feee","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"4327b07d-6081-470c-a9f2-0ecb761124db","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"1c2585aa-3811-4839-bf18-407e1477feee","value":"sql","updatedAt":1599236100000}},{"id":"9bcd3f6b-dc3e-47b0-ac56-31c7ce03e511","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":null,"apiOperation":"0bbe103c-2335-4367-8d5f-32ca763ee750","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"9bcd3f6b-dc3e-47b0-ac56-31c7ce03e511","value":null,"updatedAt":1599047721000}},{"id":"0e8bf661-c37c-4a65-9dc2-d341908641a7","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"23d7c383-a516-46e0-9e10-de7137f63c51","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"0e8bf661-c37c-4a65-9dc2-d341908641a7","value":"select *  from Meetings as c where TIMESTAMP(c.date) >TIMESTAMP(NOW()) AND c.members[*]={$user} AND c.canceled=false ORDER BY TIMESTAMP(c.date) ASC LIMIT 1","updatedAt":1599236100000}},{"id":"615a94a2-06c2-4160-9372-cca4c6045a20","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"0fa8f233-1264-48aa-b0b0-ec70b827f986","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"615a94a2-06c2-4160-9372-cca4c6045a20","value":"select u,_id from TeamTasks as u where u.TeamTasks.creator={$user}","updatedAt":1600077634000}},{"id":"3087ee9a-5bd7-41d1-9f49-2dcc2581fc65","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"ac8cd5b5-0978-4f14-9969-df84d5bdf8d1","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"3087ee9a-5bd7-41d1-9f49-2dcc2581fc65","value":"rtdb","updatedAt":1599236100000}},{"id":"b657b806-9de9-4e24-9e1f-4ee3e442fe84","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"ac8cd5b5-0978-4f14-9969-df84d5bdf8d1","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"b657b806-9de9-4e24-9e1f-4ee3e442fe84","value":"sql","updatedAt":1599236100000}},{"id":"a5a2f996-260a-4c28-b334-b391081f40c8","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"be093e5b-e123-4d5b-9efc-7527d719676e","dataType":"STRING","name":"state","description":"","headerType":"PATH","id":"a5a2f996-260a-4c28-b334-b391081f40c8","value":null,"updatedAt":1600077635000}},{"id":"63494421-fe3d-435f-a6c5-1c6ed001acd9","data":{"createdAt":1599585012000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"63494421-fe3d-435f-a6c5-1c6ed001acd9","value":"select  c,_id as date from CompanyNews as c where DATE(c.CompanyNews.date) > DATE({$date})  order by DATE(c.CompanyNews.date) desc limit {$limit} ","updatedAt":1599585012000}},{"id":"28310a86-887d-4ec0-bfea-709ab930fb81","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"be093e5b-e123-4d5b-9efc-7527d719676e","dataType":"STRING","name":"oid","description":"","headerType":"PATH","id":"28310a86-887d-4ec0-bfea-709ab930fb81","value":null,"updatedAt":1600077635000}},{"id":"89d2f20c-ab5a-48a6-83e1-389d0d44faee","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":null,"apiOperation":"9161161a-36d7-4f64-9fe8-5987d811e438","dataType":"STRING","name":"body","description":"","headerType":"BODY","id":"89d2f20c-ab5a-48a6-83e1-389d0d44faee","value":"","updatedAt":1599236100000}},{"id":"6187b361-658f-46cd-8b91-7f9e624fa2d4","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"f2e54616-a42c-4c71-af97-c6409b22a1f9","dataType":"STRING","name":"date","description":"","headerType":"PATH","id":"6187b361-658f-46cd-8b91-7f9e624fa2d4","value":null,"updatedAt":1600077634000}},{"id":"e80ff54f-9f41-4d57-b465-15c5f657491b","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"7579dcb6-2257-40a6-92dc-812d21294f5d","dataType":"STRING","name":"deviceId","description":"","headerType":"PATH","id":"e80ff54f-9f41-4d57-b465-15c5f657491b","value":null,"updatedAt":1599047721000}},{"id":"f170ec20-2ab9-4a4d-a6d0-445ee0e1af7f","data":{"createdAt":1599585012000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","dataType":"NUMBER","name":"limit","description":"","headerType":"PATH","id":"f170ec20-2ab9-4a4d-a6d0-445ee0e1af7f","value":null,"updatedAt":1599585012000}},{"id":"0d6911fb-9feb-430d-8642-d5055f7759a5","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"0d6911fb-9feb-430d-8642-d5055f7759a5","value":"UPDATE TeamTasks SET TeamTasks.assigned=\"[\\\"{$user}\\\"]\" where _id=OID({$oid})","updatedAt":1600077635000}},{"id":"3b548cff-890d-4571-a14b-5ca75ce5b01a","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"3b548cff-890d-4571-a14b-5ca75ce5b01a","value":"sql","updatedAt":1600077634000}},{"id":"b0edf70c-97d3-4479-ae94-884e11375756","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"b0edf70c-97d3-4479-ae94-884e11375756","value":null,"updatedAt":1600077634000}},{"id":"961b8881-b532-4342-8535-c55b49d20e29","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"961b8881-b532-4342-8535-c55b49d20e29","value":"rtdb","updatedAt":1600077634000}},{"id":"2bf73286-e08a-4806-be9f-564db91cee9e","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"4327b07d-6081-470c-a9f2-0ecb761124db","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"2bf73286-e08a-4806-be9f-564db91cee9e","value":"rtdb","updatedAt":1599236100000}},{"id":"ac94f714-e045-4fba-8800-d5b9f25d2b62","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"23d7c383-a516-46e0-9e10-de7137f63c51","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"ac94f714-e045-4fba-8800-d5b9f25d2b62","value":"rtdb","updatedAt":1599236100000}},{"id":"b64a55e1-261f-4408-9c15-aae98fec5909","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"7579dcb6-2257-40a6-92dc-812d21294f5d","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"b64a55e1-261f-4408-9c15-aae98fec5909","value":"SELECT c,_id FROM AlexaDevice AS c WHERE c.deviceId={$deviceId}","updatedAt":1599047721000}},{"id":"f94e960b-716f-44c5-893f-367ededcbf38","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"ac8cd5b5-0978-4f14-9969-df84d5bdf8d1","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"f94e960b-716f-44c5-893f-367ededcbf38","value":"select *  from Meetings as c where TIMESTAMP(c.date) >TIMESTAMP(NOW()) AND c.members[*]={$user} AND c.canceled=false ORDER BY TIMESTAMP(c.date) ASC","updatedAt":1599236100000}},{"id":"f5d89773-3f1b-4cbb-b576-56bd37740cf7","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"0fa8f233-1264-48aa-b0b0-ec70b827f986","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"f5d89773-3f1b-4cbb-b576-56bd37740cf7","value":"rtdb","updatedAt":1600077634000}},{"id":"77c0052e-b805-4add-9604-5ea022f01b9f","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"ac8cd5b5-0978-4f14-9969-df84d5bdf8d1","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"77c0052e-b805-4add-9604-5ea022f01b9f","value":null,"updatedAt":1599236100000}},{"id":"b7e14422-2d0b-496e-b868-b84055ea8e0c","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"be093e5b-e123-4d5b-9efc-7527d719676e","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"b7e14422-2d0b-496e-b868-b84055ea8e0c","value":"rtdb","updatedAt":1600077635000}},{"id":"5688d93d-2f22-4626-a8ed-43f60a3e82ed","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"0fa8f233-1264-48aa-b0b0-ec70b827f986","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"5688d93d-2f22-4626-a8ed-43f60a3e82ed","value":"sql","updatedAt":1600077634000}},{"id":"7ff0ff7c-5b4d-484a-9d83-a89a377b6f15","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":null,"apiOperation":"efc184bf-c93a-44d8-b86a-5e5a8c0833c8","dataType":"STRING","name":"body","description":"","headerType":"BODY","id":"7ff0ff7c-5b4d-484a-9d83-a89a377b6f15","value":"","updatedAt":1599047721000}},{"id":"aa5a4bb8-105a-49dc-bbf9-6b735fcd5056","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":null,"apiOperation":"f56f563f-ddec-4489-b097-a29070c1e5a6","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"aa5a4bb8-105a-49dc-bbf9-6b735fcd5056","value":null,"updatedAt":1599236100000}},{"id":"d4f1cfbc-73f6-405d-bebe-8bb84c23d288","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"f2e54616-a42c-4c71-af97-c6409b22a1f9","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"d4f1cfbc-73f6-405d-bebe-8bb84c23d288","value":null,"updatedAt":1600077634000}},{"id":"7f5d687f-b8f7-48d5-81d8-e3c8851db8dd","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"7f5d687f-b8f7-48d5-81d8-e3c8851db8dd","value":"rtdb","updatedAt":1600077635000}},{"id":"563d7f7c-6e6e-4dab-8416-dbf2c3317049","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"563d7f7c-6e6e-4dab-8416-dbf2c3317049","value":"sql","updatedAt":1600077635000}},{"id":"188e7b45-603b-40cd-a165-abcfc4dbf09f","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":null,"apiOperation":"1f7e0aa1-af2e-43cf-aaa4-93b89eb33d04","dataType":"STRING","name":"body","description":"","headerType":"BODY","id":"188e7b45-603b-40cd-a165-abcfc4dbf09f","value":"","updatedAt":1599047721000}},{"id":"8617aef1-50dc-4371-a3f3-4ecc62c8a24a","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"9761048b-1ea6-49c0-881a-8aeedcb86d67","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"8617aef1-50dc-4371-a3f3-4ecc62c8a24a","value":"rtdb","updatedAt":1600077634000}},{"id":"2eab2f9a-55be-4ee9-9969-5c19d56f2dfd","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"718f29d3-5217-4542-9d6b-040dfeb6e2e8","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"2eab2f9a-55be-4ee9-9969-5c19d56f2dfd","value":"rtdb","updatedAt":1600077634000}},{"id":"f19d87c7-5aa7-4a05-a535-a44ff71542a5","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"7579dcb6-2257-40a6-92dc-812d21294f5d","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"f19d87c7-5aa7-4a05-a535-a44ff71542a5","value":"rtdb","updatedAt":1599047721000}},{"id":"454ff3ad-3a39-4e32-a1b1-0b428d9ebce8","data":{"createdAt":1599585012000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","dataType":"STRING","name":"targetdb","description":"","headerType":"QUERY","id":"454ff3ad-3a39-4e32-a1b1-0b428d9ebce8","value":"rtdb","updatedAt":1599585012000}},{"id":"1ac4d531-af2a-4aff-b614-5e9ea5523708","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"4327b07d-6081-470c-a9f2-0ecb761124db","dataType":"STRING","name":"query","description":"","headerType":"QUERY","id":"1ac4d531-af2a-4aff-b614-5e9ea5523708","value":"UPDATE Meetings set canceled=BOOLEAN(true) where _id=OID({$id})","updatedAt":1599236100000}},{"id":"2f9f75be-4fb0-45e2-8cbd-c579512d4d80","data":{"createdAt":1600182894000,"serialVersionUID":1,"condition":null,"apiOperation":"ca063a2b-2d6e-4454-bd61-485ad0aba39d","dataType":"STRING","name":"body","description":"","headerType":"BODY","id":"2f9f75be-4fb0-45e2-8cbd-c579512d4d80","value":"","updatedAt":1600182894000}},{"id":"36547cd3-3d3f-4b39-95f3-87fadc76aac4","data":{"createdAt":1599236100000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"4327b07d-6081-470c-a9f2-0ecb761124db","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"36547cd3-3d3f-4b39-95f3-87fadc76aac4","value":null,"updatedAt":1599236100000}},{"id":"0c5b3779-379c-4e1e-aec5-5b60cc2e94e0","data":{"createdAt":1599047721000,"serialVersionUID":1,"condition":null,"apiOperation":"efc184bf-c93a-44d8-b86a-5e5a8c0833c8","dataType":"STRING","name":"id","description":"","headerType":"PATH","id":"0c5b3779-379c-4e1e-aec5-5b60cc2e94e0","value":null,"updatedAt":1599047721000}},{"id":"24b6c2c5-65e1-4185-86e4-10fc02a159b9","data":{"createdAt":1600077635000,"serialVersionUID":1,"condition":null,"apiOperation":"326c9333-e909-4bba-bab5-08c5bd890485","dataType":"STRING","name":"body","description":"","headerType":"BODY","id":"24b6c2c5-65e1-4185-86e4-10fc02a159b9","value":"","updatedAt":1600077635000}},{"id":"9b8f7144-9f05-4178-aa93-7d76c7e9bf34","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"0fa8f233-1264-48aa-b0b0-ec70b827f986","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"9b8f7144-9f05-4178-aa93-7d76c7e9bf34","value":null,"updatedAt":1600077634000}},{"id":"5e133136-f33f-452a-813e-8d75cab3e3fd","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"REQUIRED","apiOperation":"9761048b-1ea6-49c0-881a-8aeedcb86d67","dataType":"STRING","name":"user","description":"","headerType":"PATH","id":"5e133136-f33f-452a-813e-8d75cab3e3fd","value":null,"updatedAt":1600077634000}},{"id":"e850a1a0-3374-4910-a126-fd0aa3204d38","data":{"createdAt":1600077634000,"serialVersionUID":1,"condition":"CONSTANT","apiOperation":"f2e54616-a42c-4c71-af97-c6409b22a1f9","dataType":"STRING","name":"queryType","description":"","headerType":"QUERY","id":"e850a1a0-3374-4910-a126-fd0aa3204d38","value":"sql","updatedAt":1600077634000}}]},{"class":"com.minsait.onesait.platform.config.model.Ontology","instances":[{"id":"5dea1dd3-eacd-4a82-b6ee-a603173d5b47","data":{"allowsCypherFields":false,"dataModel":"MASTER-DataModel-5","description":"Meetings","metainf":"imported,json","dataModelVersion":null,"allowsCreateTopic":false,"createdAt":1598384850000,"serialVersionUID":1,"identification":"Meetings","rtdbCleanLapse":"NEVER","jsonSchema":"{\"properties\":{\"date\":{\"type\":\"string\",\"format\":\"date-time\"},\"members\":{\"type\":\"array\",\"items\":[{\"type\":\"string\"}]},\"canceled\":{\"type\":\"boolean\"},\"building\":{\"type\":\"string\"},\"room\":{\"type\":\"string\"}},\"type\":\"object\",\"description\":\"Info Meetings\",\"$schema\":\"http://json-schema.org/draft-04/schema#\",\"title\":\"Meetings\",\"additionalProperties\":true}","xmlDiagram":null,"isPublic":false,"id":"5dea1dd3-eacd-4a82-b6ee-a603173d5b47","ontologyKPI":null,"updatedAt":1598384850000,"ontologyTimeSeries":null,"rtdbClean":false,"active":true,"rtdbToHdbStorage":null,"rtdbToHdb":false,"ontologyClass":null,"topic":null,"ontologyUserAccesses":[],"rtdbDatasource":"MONGO","user":"alexa"}},{"id":"66a27841-0c51-4fcd-a835-4c252693d603","data":{"allowsCypherFields":false,"dataModel":"MASTER-DataModel-5","description":"Ontology to store company news","metainf":"CompanyNews,Alexa","dataModelVersion":null,"allowsCreateTopic":false,"createdAt":1599486892000,"serialVersionUID":1,"identification":"CompanyNews","rtdbCleanLapse":"NEVER","jsonSchema":"{\r\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\r\n    \"title\": \"CompanyNews\",\r\n    \"type\": \"object\",\r\n    \"required\": [\r\n        \"CompanyNews\"\r\n    ],\r\n    \"properties\": {\r\n        \"CompanyNews\": {\r\n            \"type\": \"string\",\r\n            \"$ref\": \"#/datos\"\r\n        }\r\n    },\r\n    \"datos\": {\r\n        \"description\": \"Info CompanyNews\",\r\n        \"type\": \"object\",\r\n        \"required\": [\r\n            \"text\",\r\n            \"description\",\r\n            \"date\"\r\n        ],\r\n        \"properties\": {\r\n            \"text\": {\r\n                \"type\": \"string\"\r\n            },\r\n            \"description\": {\r\n                \"type\": \"string\"\r\n            },\r\n            \"date\": {\r\n                \"type\": \"string\",\r\n                \"format\": \"date\"\r\n            },\r\n            \"covid_related\": {\r\n                \"type\": \"boolean\"\r\n            }\r\n        }\r\n    },\r\n    \"description\": \"Ontology to store company news\",\r\n    \"additionalProperties\": true\r\n}","xmlDiagram":null,"isPublic":false,"id":"66a27841-0c51-4fcd-a835-4c252693d603","ontologyKPI":null,"updatedAt":1599575917000,"ontologyTimeSeries":null,"rtdbClean":false,"active":true,"rtdbToHdbStorage":null,"rtdbToHdb":false,"ontologyClass":null,"topic":null,"ontologyUserAccesses":[],"rtdbDatasource":"MONGO","user":"alexa"}},{"id":"c08ae0b2-581b-463f-9aff-72cee6568dba","data":{"allowsCypherFields":false,"dataModel":"MASTER-DataModel-5","description":"Alexa device","metainf":"imported,json","dataModelVersion":null,"allowsCreateTopic":false,"createdAt":1599039905000,"serialVersionUID":1,"identification":"AlexaDevice","rtdbCleanLapse":"NEVER","jsonSchema":"{\"properties\":{\"deviceId\":{\"type\":\"string\"},\"userId\":{\"type\":\"string\"},\"email\":{\"type\":\"string\"},\"fullName\":{\"type\":\"string\"},\"pcr\":{\"type\":\"boolean\"}},\"type\":\"object\",\"description\":\"Info AlexaDevice\",\"$schema\":\"http://json-schema.org/draft-04/schema#\",\"title\":\"AlexaDevice\",\"additionalProperties\":true}","xmlDiagram":null,"isPublic":false,"id":"c08ae0b2-581b-463f-9aff-72cee6568dba","ontologyKPI":null,"updatedAt":1599046289000,"ontologyTimeSeries":null,"rtdbClean":false,"active":true,"rtdbToHdbStorage":null,"rtdbToHdb":false,"ontologyClass":null,"topic":null,"ontologyUserAccesses":[],"rtdbDatasource":"MONGO","user":"alexa"}},{"id":"74912864-8280-4671-9c8d-64e5e5327682","data":{"allowsCypherFields":false,"dataModel":"MASTER-DataModel-5","description":"Ontology to store team's member tasks","metainf":"TeamTasks,Alexa","dataModelVersion":null,"allowsCreateTopic":false,"createdAt":1599487766000,"serialVersionUID":1,"identification":"TeamTasks","rtdbCleanLapse":"NEVER","jsonSchema":"{\r\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\r\n    \"title\": \"TeamTasks\",\r\n    \"type\": \"object\",\r\n    \"required\": [\r\n        \"TeamTasks\"\r\n    ],\r\n    \"properties\": {\r\n        \"TeamTasks\": {\r\n            \"type\": \"string\",\r\n            \"$ref\": \"#/datos\"\r\n        }\r\n    },\r\n    \"datos\": {\r\n        \"description\": \"Info TeamTasks\",\r\n        \"type\": \"object\",\r\n        \"required\": [\r\n            \"creator\",\r\n            \"assigned\",\r\n            \"creation_date\",\r\n            \"state\",\r\n            \"title\"\r\n        ],\r\n        \"properties\": {\r\n            \"creator\": {\r\n                \"type\": \"string\"\r\n            },\r\n            \"assigned\": {\r\n                \"type\": \"array\",\r\n                \"items\": [\r\n                    {\r\n                        \"type\": \"string\"\r\n                    }\r\n                ]\r\n            },\r\n            \"creation_date\": {\r\n                \"type\": \"string\",\r\n                \"format\": \"date\"\r\n            },\r\n            \"expiration_date\": {\r\n                \"type\": \"string\",\r\n                \"format\": \"date\"\r\n            },\r\n            \"state\": {\r\n                \"type\": \"string\"\r\n            },\r\n            \"title\": {\r\n                \"type\": \"string\"\r\n            },\r\n            \"description\": {\r\n                \"type\": \"string\"\r\n            }\r\n        }\r\n    },\r\n    \"description\": \"Ontology to store teams member tasks\",\r\n    \"additionalProperties\": true\r\n}","xmlDiagram":null,"isPublic":false,"id":"74912864-8280-4671-9c8d-64e5e5327682","ontologyKPI":null,"updatedAt":1599487812000,"ontologyTimeSeries":null,"rtdbClean":false,"active":true,"rtdbToHdbStorage":null,"rtdbToHdb":false,"ontologyClass":null,"topic":null,"ontologyUserAccesses":[],"rtdbDatasource":"MONGO","user":"alexa"}}]},{"class":"com.minsait.onesait.platform.config.model.BinaryFile","instances":[{"id":"5f56040b1b884736da370f41","data":{"fileName":"alexa-skill-1.0.0-SNAPSHOT-jar-with-dependencies.jar","metadata":"","mime":"application/java-archive","repository":"MONGO_GRIDFS","path":null,"createdAt":1599472652000,"serialVersionUID":5923804579468183726,"identification":"file","fileAccesses":null,"fileExtension":"jar","isPublic":false,"id":"5f56040b1b884736da370f41","user":"alexa","updatedAt":1599472652000}},{"id":"5f5604b01b884736da370f7b","data":{"fileName":"aeonaxx.png","metadata":null,"mime":"image/png","repository":"MONGO_GRIDFS","path":null,"createdAt":1599472816000,"serialVersionUID":5923804579468183726,"identification":"file","fileAccesses":null,"fileExtension":"png","isPublic":true,"id":"5f5604b01b884736da370f7b","user":"alexa","updatedAt":1599473044000}},{"id":"5f560ebb3b2b7f02902cf963","data":{"fileName":"aeonaxx.png","metadata":null,"mime":"image/png","repository":"MONGO_GRIDFS","path":null,"createdAt":1599475388000,"serialVersionUID":5923804579468183726,"identification":"file","fileAccesses":null,"fileExtension":"png","isPublic":true,"id":"5f560ebb3b2b7f02902cf963","user":"alexa","updatedAt":1599475418000}}]},{"class":"com.minsait.onesait.platform.config.model.WebProject","instances":[{"id":"5bf01392-1b26-47fb-a63c-3a0f6abc6071","data":{"createdAt":1600179535000,"serialVersionUID":1,"identification":"demo-innovators","description":"demo-innovators","id":"5bf01392-1b26-47fb-a63c-3a0f6abc6071","mainFile":" ","user":"alexa","updatedAt":1600179535000}}]},{"class":"com.minsait.onesait.platform.config.model.ApiOperation","instances":[{"id":"368e2aab-e884-4fed-bff4-65cfbd0d670e","data":{"description":"post","path":"/","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"meetings_POST","basePath":null,"apiqueryparameters":["b3b7850c-ea0d-436a-b177-76a810d5b4d5"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"368e2aab-e884-4fed-bff4-65cfbd0d670e","operation":"POST","postProcess":null,"updatedAt":1599236100000}},{"id":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","data":{"description":"title-assigned","path":"title-assigned/{title}/{user}","createdAt":1600077634000,"serialVersionUID":1,"endpoint":null,"identification":"title-assigned","basePath":null,"apiqueryparameters":["3b548cff-890d-4571-a14b-5ca75ce5b01a","961b8881-b532-4342-8535-c55b49d20e29","b0edf70c-97d3-4479-ae94-884e11375756","a0485a11-142d-4642-be44-2ba526df7ac6","b60b3170-c0c4-46e2-89d8-e9c674dd9a6e"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"1f027165-e0e2-4af2-ac3f-bd8ff38cf8ab","operation":"GET","postProcess":"// data is a string variable containing the query output \nvar dataArray = JSON.parse(data);\n\nif(dataArray.length > 0){\n  return (JSON.stringify(dataArray[0]));\n}else{\n  return (JSON.stringify(dataArray[{}]));\n}\n","updatedAt":1600077634000}},{"id":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","data":{"description":"change assigned","path":"assigned-change/{user}/{oid}","createdAt":1600077634000,"serialVersionUID":1,"endpoint":null,"identification":"assigned-change","basePath":null,"apiqueryparameters":["0d6911fb-9feb-430d-8642-d5055f7759a5","563d7f7c-6e6e-4dab-8416-dbf2c3317049","8e7a8a39-b1db-4a2a-a490-e11e6a81c84c","a55b9955-206c-4053-bf99-cfb4aa93fb92","7f5d687f-b8f7-48d5-81d8-e3c8851db8dd"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"9bccf18c-8b22-4abf-8988-b7fa228f0c25","operation":"GET","postProcess":"","updatedAt":1600077634000}},{"id":"9761048b-1ea6-49c0-881a-8aeedcb86d67","data":{"description":"date-assigned-title","path":"date-assigned-title/{date}/{title}/{user}","createdAt":1600077634000,"serialVersionUID":1,"endpoint":null,"identification":"date-assigned-title","basePath":null,"apiqueryparameters":["0dc2041a-f4f3-4195-8464-1cb9d308f33e","5e133136-f33f-452a-813e-8d75cab3e3fd","11a93dec-71de-4b35-9f60-90139711896a","6a5de157-cf0f-483b-8b11-796db63ae74b","7d7c8b0d-6282-4742-8f37-e079c1dd9d12","8617aef1-50dc-4371-a3f3-4ecc62c8a24a"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"9761048b-1ea6-49c0-881a-8aeedcb86d67","operation":"GET","postProcess":"// data is a string variable containing the query output \nvar dataArray = JSON.parse(data);\n\nif(dataArray.length > 0){\n  return (JSON.stringify(dataArray[0]));\n}else{\n  return (JSON.stringify(dataArray[{}]));\n}\n","updatedAt":1600077634000}},{"id":"f2e54616-a42c-4c71-af97-c6409b22a1f9","data":{"description":"filter date assinged","path":"date-assigned/{date}/{user}","createdAt":1600077634000,"serialVersionUID":1,"endpoint":null,"identification":"date-assigned","basePath":null,"apiqueryparameters":["de89cbb5-22fd-4508-ad6c-c6a61f6cb34e","e850a1a0-3374-4910-a126-fd0aa3204d38","6187b361-658f-46cd-8b91-7f9e624fa2d4","afc8a326-eb49-4c94-8e6c-4cafcbaeb762","d4f1cfbc-73f6-405d-bebe-8bb84c23d288"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"f2e54616-a42c-4c71-af97-c6409b22a1f9","operation":"GET","postProcess":"// data is a string variable containing the query output \nvar dataArray = JSON.parse(data);\n\nif(dataArray.length > 0){\n  return (JSON.stringify(dataArray[0]));\n}else{\n  return (JSON.stringify(dataArray[{}]));\n}\n","updatedAt":1600077634000}},{"id":"9161161a-36d7-4f64-9fe8-5987d811e438","data":{"description":"put","path":"/{id}","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"meetings_PUT","basePath":null,"apiqueryparameters":["89d2f20c-ab5a-48a6-83e1-389d0d44faee","fb406322-adf9-4302-8e6b-61437e9f525e"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"9161161a-36d7-4f64-9fe8-5987d811e438","operation":"PUT","postProcess":null,"updatedAt":1599236100000}},{"id":"0bbe103c-2335-4367-8d5f-32ca763ee750","data":{"description":"oid","path":"/{id}","createdAt":1599047721000,"serialVersionUID":1,"endpoint":null,"identification":"alexa-device_GET","basePath":null,"apiqueryparameters":["9bcd3f6b-dc3e-47b0-ac56-31c7ce03e511"],"api":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","id":"0bbe103c-2335-4367-8d5f-32ca763ee750","operation":"GET","postProcess":null,"updatedAt":1599047721000}},{"id":"50f988b4-2b2f-4cd2-b042-4548e648351d","data":{"description":"delete","path":"/{id}","createdAt":1599047721000,"serialVersionUID":1,"endpoint":null,"identification":"alexa-device_DELETEID","basePath":null,"apiqueryparameters":["8f95eb84-b280-4ed4-84a3-70667721053b"],"api":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","id":"50f988b4-2b2f-4cd2-b042-4548e648351d","operation":"DELETE","postProcess":null,"updatedAt":1599047721000}},{"id":"efc184bf-c93a-44d8-b86a-5e5a8c0833c8","data":{"description":"put","path":"/{id}","createdAt":1599047721000,"serialVersionUID":1,"endpoint":null,"identification":"alexa-device_PUT","basePath":null,"apiqueryparameters":["7ff0ff7c-5b4d-484a-9d83-a89a377b6f15","0c5b3779-379c-4e1e-aec5-5b60cc2e94e0"],"api":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","id":"efc184bf-c93a-44d8-b86a-5e5a8c0833c8","operation":"PUT","postProcess":null,"updatedAt":1599047721000}},{"id":"40ab02ad-8fb7-46d6-8e6a-00c3013a9829","data":{"description":"all","path":"","createdAt":1599585012000,"serialVersionUID":1,"endpoint":null,"identification":"minsait-news_GETAll","basePath":null,"apiqueryparameters":[],"api":"39e40d2f-f704-4218-82fa-cba5bb037799","id":"40ab02ad-8fb7-46d6-8e6a-00c3013a9829","operation":"GET","postProcess":null,"updatedAt":1599585012000}},{"id":"7579dcb6-2257-40a6-92dc-812d21294f5d","data":{"description":"device id filter","path":"device/{deviceId}","createdAt":1599047721000,"serialVersionUID":1,"endpoint":null,"identification":"device","basePath":null,"apiqueryparameters":["b64a55e1-261f-4408-9c15-aae98fec5909","a9c1a165-e33f-4116-a3a9-0ebf3d1d5364","e80ff54f-9f41-4d57-b465-15c5f657491b","f19d87c7-5aa7-4a05-a535-a44ff71542a5"],"api":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","id":"7579dcb6-2257-40a6-92dc-812d21294f5d","operation":"GET","postProcess":"","updatedAt":1599047721000}},{"id":"8a19ea94-12a6-4020-bc9e-7d20993032c5","data":{"description":"all","path":"","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"meetings_GETAll","basePath":null,"apiqueryparameters":[],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"8a19ea94-12a6-4020-bc9e-7d20993032c5","operation":"GET","postProcess":null,"updatedAt":1599236100000}},{"id":"326c9333-e909-4bba-bab5-08c5bd890485","data":{"description":"insert","path":"/","createdAt":1600077635000,"serialVersionUID":1,"endpoint":null,"identification":"team-tasks_POST","basePath":null,"apiqueryparameters":["24b6c2c5-65e1-4185-86e4-10fc02a159b9"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"326c9333-e909-4bba-bab5-08c5bd890485","operation":"POST","postProcess":null,"updatedAt":1600077635000}},{"id":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","data":{"description":"filter","path":"filter/{date}/{limit}","createdAt":1599585012000,"serialVersionUID":1,"endpoint":null,"identification":"filter","basePath":null,"apiqueryparameters":["63494421-fe3d-435f-a6c5-1c6ed001acd9","abec986b-837e-43a9-a52c-1745c975deb0","454ff3ad-3a39-4e32-a1b1-0b428d9ebce8","f170ec20-2ab9-4a4d-a6d0-445ee0e1af7f","93a631bc-73c9-48d0-af1e-be892bb4d235"],"api":"39e40d2f-f704-4218-82fa-cba5bb037799","id":"94c1aa6e-26b6-4dfc-a27e-6ce7851553d8","operation":"GET","postProcess":"","updatedAt":1599585012000}},{"id":"1f7e0aa1-af2e-43cf-aaa4-93b89eb33d04","data":{"description":"opst","path":"/","createdAt":1599047721000,"serialVersionUID":1,"endpoint":null,"identification":"alexa-device_POST","basePath":null,"apiqueryparameters":["188e7b45-603b-40cd-a165-abcfc4dbf09f"],"api":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","id":"1f7e0aa1-af2e-43cf-aaa4-93b89eb33d04","operation":"POST","postProcess":null,"updatedAt":1599047721000}},{"id":"23d7c383-a516-46e0-9e10-de7137f63c51","data":{"description":"by user next","path":"next/{user}","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"next","basePath":null,"apiqueryparameters":["ac94f714-e045-4fba-8800-d5b9f25d2b62","329191a9-53b0-4397-bad8-947400389d9c","3ecd4a09-2bba-4d18-8bde-f6d1f18e21ea","0e8bf661-c37c-4a65-9dc2-d341908641a7"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"23d7c383-a516-46e0-9e10-de7137f63c51","operation":"GET","postProcess":"// data is a string variable containing the query output \nvar dataArray = JSON.parse(data);\n\nif(dataArray.length >0){\n  return (JSON.stringify(dataArray[0].value));\n  \n}\n// A string result must be returned\nreturn (JSON.stringify(dataArray));","updatedAt":1599236100000}},{"id":"f898637d-291e-4a27-8bfc-3550e9b75ebd","data":{"description":"all","path":"","createdAt":1599047721000,"serialVersionUID":1,"endpoint":null,"identification":"alexa-device_GETAll","basePath":null,"apiqueryparameters":[],"api":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","id":"f898637d-291e-4a27-8bfc-3550e9b75ebd","operation":"GET","postProcess":null,"updatedAt":1599047721000}},{"id":"a27e3c92-abdc-4b96-857c-6fd2d313017e","data":{"description":"id","path":"/{id}","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"meetings_GET","basePath":null,"apiqueryparameters":["656ec628-00f1-4962-9e88-52eabc79d6d0"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"a27e3c92-abdc-4b96-857c-6fd2d313017e","operation":"GET","postProcess":null,"updatedAt":1599236100000}},{"id":"718f29d3-5217-4542-9d6b-040dfeb6e2e8","data":{"description":"filter assigned","path":"assigned/{user}","createdAt":1600077634000,"serialVersionUID":1,"endpoint":null,"identification":"assigned","basePath":null,"apiqueryparameters":["2aced3f6-cf6f-4e41-a5c7-b18037d13dc6","2eab2f9a-55be-4ee9-9969-5c19d56f2dfd","f57f5b99-1f20-4589-83a7-aa3a01d16420","5a80a560-5cbe-484c-9b2c-34bac3b8b51f"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"718f29d3-5217-4542-9d6b-040dfeb6e2e8","operation":"GET","postProcess":"","updatedAt":1600077634000}},{"id":"0fa8f233-1264-48aa-b0b0-ec70b827f986","data":{"description":"cretor filter","path":"creator/{user}","createdAt":1600077634000,"serialVersionUID":1,"endpoint":null,"identification":"creator","basePath":null,"apiqueryparameters":["5688d93d-2f22-4626-a8ed-43f60a3e82ed","615a94a2-06c2-4160-9372-cca4c6045a20","9b8f7144-9f05-4178-aa93-7d76c7e9bf34","f5d89773-3f1b-4cbb-b576-56bd37740cf7"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"0fa8f233-1264-48aa-b0b0-ec70b827f986","operation":"GET","postProcess":"","updatedAt":1600077634000}},{"id":"4327b07d-6081-470c-a9f2-0ecb761124db","data":{"description":"cancel by id","path":"cancel/{id}","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"cancel","basePath":null,"apiqueryparameters":["36547cd3-3d3f-4b39-95f3-87fadc76aac4","2bf73286-e08a-4806-be9f-564db91cee9e","1ac4d531-af2a-4aff-b614-5e9ea5523708","1c2585aa-3811-4839-bf18-407e1477feee"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"4327b07d-6081-470c-a9f2-0ecb761124db","operation":"GET","postProcess":"","updatedAt":1599236100000}},{"id":"be093e5b-e123-4d5b-9efc-7527d719676e","data":{"description":"update state","path":"state-change/{state}/{oid}","createdAt":1600077635000,"serialVersionUID":1,"endpoint":null,"identification":"state-change","basePath":null,"apiqueryparameters":["a5a2f996-260a-4c28-b334-b391081f40c8","d9b194f7-9b1a-4111-8f02-18c274a932a4","b7e14422-2d0b-496e-b868-b84055ea8e0c","28310a86-887d-4ec0-bfea-709ab930fb81","f0de0eeb-84b3-48eb-8b0d-7de72129c977"],"api":"6275d66f-69e0-4ab6-9184-9eb23114a139","id":"be093e5b-e123-4d5b-9efc-7527d719676e","operation":"GET","postProcess":"// data is a string variable containing the query output \nvar dataArray = JSON.parse(data);\n\nif(dataArray.length > 0){\n  return (JSON.stringify(dataArray[0]));\n}else{\n  return (JSON.stringify(dataArray[{}]));\n}\n","updatedAt":1600077635000}},{"id":"f56f563f-ddec-4489-b097-a29070c1e5a6","data":{"description":"delete","path":"/{id}","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"meetings_DELETEID","basePath":null,"apiqueryparameters":["aa5a4bb8-105a-49dc-bbf9-6b735fcd5056"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"f56f563f-ddec-4489-b097-a29070c1e5a6","operation":"DELETE","postProcess":null,"updatedAt":1599236100000}},{"id":"ac8cd5b5-0978-4f14-9969-df84d5bdf8d1","data":{"description":"by user","path":"user/{user}","createdAt":1599236100000,"serialVersionUID":1,"endpoint":null,"identification":"user","basePath":null,"apiqueryparameters":["f94e960b-716f-44c5-893f-367ededcbf38","77c0052e-b805-4add-9604-5ea022f01b9f","3087ee9a-5bd7-41d1-9f49-2dcc2581fc65","b657b806-9de9-4e24-9e1f-4ee3e442fe84"],"api":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","id":"ac8cd5b5-0978-4f14-9969-df84d5bdf8d1","operation":"GET","postProcess":"// data is a string variable containing the query output \nvar dataArray = JSON.parse(data);\n\nif(dataArray.length >0){\n  var newArray = [];\n  dataArray.forEach(function (m) {\n  \tnewArray.push(m.value);\n  });\n  return (JSON.stringify(newArray));\n}\n// A string result must be returned\nreturn (JSON.stringify(dataArray));","updatedAt":1599236100000}},{"id":"ca063a2b-2d6e-4454-bd61-485ad0aba39d","data":{"description":"pcr","path":"/","createdAt":1600182894000,"serialVersionUID":1,"endpoint":"/f59dcbfff02f88/","identification":"PCR","basePath":null,"apiqueryparameters":["2f9f75be-4fb0-45e2-8cbd-c579512d4d80"],"api":"ac3f5575-2c8f-4664-8c27-30bed13260ad","id":"ca063a2b-2d6e-4454-bd61-485ad0aba39d","operation":"POST","postProcess":null,"updatedAt":1600182894000}}]},{"class":"com.minsait.onesait.platform.config.model.Flow","instances":[{"id":"4c051fb4-fa3c-45c8-a12d-10d2967d625e","data":{"flowDomain":"d3b0f21c-b5c8-4ee1-bd5e-6bbf023a289e","createdAt":1600182894000,"serialVersionUID":1,"identification":"PCR","nodeRedFlowId":"10c28de.2cd9272","active":true,"id":"4c051fb4-fa3c-45c8-a12d-10d2967d625e","updatedAt":1600182894000}}]},{"class":"com.minsait.onesait.platform.config.model.FlowNode","instances":[{"id":"9aeb95fe-3ba4-45d2-9a23-fbee0277d3e7","data":{"partialUrl":"","createdAt":1600182894000,"serialVersionUID":1,"identification":"pcr","messageType":null,"nodeRedNodeId":"b72db542.45a0d8","id":"9aeb95fe-3ba4-45d2-9a23-fbee0277d3e7","flowNodeType":"API_REST","flow":"4c051fb4-fa3c-45c8-a12d-10d2967d625e","ontology":null,"updatedAt":1600182894000}}]},{"class":"com.minsait.onesait.platform.config.model.UserToken","instances":[{"id":"6663b123-4b95-4c43-a67c-4906419810bb","data":{"createdAt":1598384552000,"serialVersionUID":1,"id":"6663b123-4b95-4c43-a67c-4906419810bb","user":"alexa","token":"71511dc82a5c4e10bbd6a1988f7f1dc6","updatedAt":1598384552000}}]},{"class":"com.minsait.onesait.platform.config.model.FlowDomain","instances":[{"id":"d3b0f21c-b5c8-4ee1-bd5e-6bbf023a289e","data":{"active":true,"accessToken":"P8IWYc7QuHZIBwYqmCdEJb9atqRvTZqm5SS69EZ0LL5BjIjtRi0lpwFssdhXjBmw7IkFTrwbEuH9t7S0mOMalG71y9ePyop80LPGNRe5ZIQCfObaEwKwTzfZ7EUjccfh","home":"/tmp/alexa","autorecover":null,"createdAt":1599488657000,"serialVersionUID":1,"thresholds":null,"identification":"alexa_flow","port":28168,"domainData":[{"id":"10c28de.2cd9272","type":"tab","label":"PCR","disabled":false,"info":""},{"id":"b72db542.45a0d8","type":"onesaitplatform api rest","z":"10c28de.2cd9272","name":"pcr","description":"api","public":false,"category":"ALL","authentication":"YWxleGE6UEVSbllHQnRmYVpzYTgxL01XWGpGbElkQ1FMR0RPalZtZ1A3MXJKcWh3OD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":70,"y":80,"wires":[["f59dcbff.f02f88"]]},{"id":"f59dcbff.f02f88","type":"onesaitplatform api rest operation","z":"10c28de.2cd9272","name":"PCR","description":"pcr","url":"/f59dcbfff02f88/","apiUrl":"/","method":"post","upload":false,"queryParams":"","swaggerDoc":"","x":150,"y":120,"wires":[["c354f455.b619e8"]]},{"id":"c354f455.b619e8","type":"function","z":"10c28de.2cd9272","name":"Meetings","func":"var queryParam=msg.payload.user;\n\n//Nos llevamos el usuario que pregunta por los contagios\nmsg.user = queryParam;\n//Traemos los miembros de todas las reuniones que ha habido desde hace 14 dias\nmsg.query=\"SELECT c.members FROM Meetings AS c where TIMESTAMP(c.date) <= TIMESTAMP('\" + new Date(Date.now()).toISOString()  + \"') and TIMESTAMP(c.date) >= TIMESTAMP('\" + new Date(Date.now() - 1209600000).toISOString()  + \"') and c.building!=''\"\nmsg.ontology=\"Meetings\";\nmsg.queryType=\"SQL\";\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["3f9b0ad2.0b6c86"]]},{"id":"cdd192d.76f097","type":"onesaitplatform api rest operation response","z":"10c28de.2cd9272","name":"retun results","statusCode":"","headers":{},"x":1030,"y":440,"wires":[]},{"id":"3f9b0ad2.0b6c86","type":"onesaitplatform-query-dynamic","z":"10c28de.2cd9272","name":"query meeting members","authentication":"YWxleGE6UEVSbllHQnRmYVpzYTgxL01XWGpGbElkQ1FMR0RPalZtZ1A3MXJKcWh3OD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":370,"y":220,"wires":[["68e2a097.d6368"]]},{"id":"68e2a097.d6368","type":"function","z":"10c28de.2cd9272","name":"Users","func":"var user=msg.user;\nvar ppl = [];\nvar x\nvar y\nvar or_expresion = \"\";\n\n//Concatenamos todos los miembros de las reuniones en un unico array y eliminamos en las que el usuario que pregunta no ha estado\nfor (x of JSON.parse(msg.payload)) {\n    if (x.value.indexOf(user) != -1){\n        ppl = ppl.concat(x.value);\n    }\n}\n\n//Eliminamos duplicados\nconst unique_ppl = ppl.filter((el, index) => ppl.indexOf(el) === index)\n\n//Eliminamos a la persona que está preguntando\nremoveItemFromArr( unique_ppl, user );\n\n//Creamos parte la expresion SQL\n//for (y of unique_ppl){\n  //  or_expresion=or_expresion.concat(\"c.fullName='\" + y + \"' or \")\n//}\n\nunique_ppl.forEach(function(user,i){\n    or_expresion=or_expresion.concat(\"c.fullName='\" + user+ \"'\");\n    if(i+1<unique_ppl.length){\n        or_expression = or_expression.concat(\" or \");\n    }\n})\n//Eliminamos el ultimo OR\n//or_expresion = or_expresion.substring(0, or_expresion.lastIndexOf(\" \"));\n//or_expresion = or_expresion.substring(0, or_expresion.lastIndexOf(\" \"));\n//or_expresion = or_expresion.substring(0, or_expresion.lastIndexOf(\" \"));\n\n\n//Nos traemos todos los resultados de pcr de los miembros de las reuniones\nmsg.query=\"SELECT c.pcr FROM AlexaDevice AS c where \" + or_expresion + \"\";\nmsg.ontology=\"AlexaDevice\";\nmsg.queryType=\"SQL\";\n\nmsg.payload = unique_ppl;\n\nmsg.statusCode = 200;\n\n\nfunction removeItemFromArr ( arr, item ) {\n    var i = arr.indexOf( item );\n    arr.splice( i, 1 );\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["f04f5bd0.cf8ff8"]]},{"id":"f04f5bd0.cf8ff8","type":"onesaitplatform-query-dynamic","z":"10c28de.2cd9272","name":"query users for PCR","authentication":"YWxleGE6UEVSbllHQnRmYVpzYTgxL01XWGpGbElkQ1FMR0RPalZtZ1A3MXJKcWh3OD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":680,"y":340,"wires":[["3ff36c09.b50414"]]},{"id":"3ff36c09.b50414","type":"function","z":"10c28de.2cd9272","name":"is user at risk?","func":"var x\n\ntry{\n    var positives = JSON.parse(msg.payload);\n    \n    //Eliminamos duplicados\n    const uniques = positives.filter((el, index) => positives.indexOf(el) === index);\n    \n    //Comprobamos si hay positivos\n    for (x in uniques){\n        if (uniques[x].value === true){\n            msg.payload='{\"pcr\":true, \"user\":\"'+msg.user+'\"}';\n            break;\n        } else {\n            msg.payload='{\"pcr\":false, \"user\":\"'+msg.user+'\"}';\n        }\n    }\n}catch(error){\n    msg.payload='{\"pcr\":false, \"user\":\"'+msg.user+'\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["cdd192d.76f097"]]}],"state":"START","servicePort":27168,"id":"d3b0f21c-b5c8-4ee1-bd5e-6bbf023a289e","user":"alexa","updatedAt":1600094875000}}]},{"class":"com.minsait.onesait.platform.config.model.Api","instances":[{"id":"ac3f5575-2c8f-4664-8c27-30bed13260ad","data":{"ssl_certificate":false,"endpointExt":"http://flowengineservice:5050/alexa_flow","image":null,"userApiAccesses":[],"description":"api","cachetimeout":null,"metaInf":null,"graviteeId":null,"assessment":null,"createdAt":1600182894000,"serialVersionUID":1,"identification":"pcr","numversion":1,"isPublic":false,"state":"CREATED","id":"ac3f5575-2c8f-4664-8c27-30bed13260ad","category":"ALL","imageType":null,"apilimit":null,"user":"alexa","ontology":null,"apiType":"NODE_RED","swaggerJson":null,"updatedAt":1600182894000}},{"id":"6275d66f-69e0-4ab6-9184-9eb23114a139","data":{"ssl_certificate":false,"endpointExt":"","image":"","userApiAccesses":[],"description":"","cachetimeout":null,"metaInf":"","graviteeId":null,"assessment":null,"createdAt":1599647486000,"serialVersionUID":1,"identification":"team-tasks","numversion":1,"isPublic":false,"state":"CREATED","id":"6275d66f-69e0-4ab6-9184-9eb23114a139","category":"ALL","imageType":null,"apilimit":null,"user":"alexa","ontology":"74912864-8280-4671-9c8d-64e5e5327682","apiType":"INTERNAL_ONTOLOGY","swaggerJson":"","updatedAt":1599647486000}},{"id":"39e40d2f-f704-4218-82fa-cba5bb037799","data":{"ssl_certificate":false,"endpointExt":"","image":"","userApiAccesses":[],"description":"","cachetimeout":null,"metaInf":"","graviteeId":null,"assessment":null,"createdAt":1599579247000,"serialVersionUID":1,"identification":"minsait-news","numversion":1,"isPublic":false,"state":"CREATED","id":"39e40d2f-f704-4218-82fa-cba5bb037799","category":"ALL","imageType":null,"apilimit":null,"user":"alexa","ontology":"66a27841-0c51-4fcd-a835-4c252693d603","apiType":"INTERNAL_ONTOLOGY","swaggerJson":"","updatedAt":1599579247000}},{"id":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","data":{"ssl_certificate":false,"endpointExt":"","image":"","userApiAccesses":[],"description":"","cachetimeout":null,"metaInf":"","graviteeId":null,"assessment":null,"createdAt":1598384895000,"serialVersionUID":1,"identification":"meetings","numversion":1,"isPublic":false,"state":"CREATED","id":"a59fb958-cee2-4a5a-8a5e-8876825b8fe0","category":"BUSINESS","imageType":null,"apilimit":null,"user":"alexa","ontology":"5dea1dd3-eacd-4a82-b6ee-a603173d5b47","apiType":"INTERNAL_ONTOLOGY","swaggerJson":"","updatedAt":1598384895000}},{"id":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","data":{"ssl_certificate":false,"endpointExt":"","image":"","userApiAccesses":[],"description":"","cachetimeout":null,"metaInf":"","graviteeId":null,"assessment":null,"createdAt":1599047721000,"serialVersionUID":1,"identification":"alexa-device","numversion":1,"isPublic":false,"state":"CREATED","id":"9bc622b2-2b0b-48b9-8c76-3c0a33d99ff1","category":"ALL","imageType":null,"apilimit":null,"user":"alexa","ontology":"c08ae0b2-581b-463f-9aff-72cee6568dba","apiType":"INTERNAL_ONTOLOGY","swaggerJson":"","updatedAt":1599047721000}}]},{"class":"com.minsait.onesait.platform.config.model.User","instances":[{"id":"alexa","data":{"projects":null,"role":"ROLE_DEVELOPER","active":true,"fullName":"alexa innovators","avatar":null,"userId":"alexa","dateDeleted":null,"createdAt":1598384552000,"serialVersionUID":1,"password":"abcdefghijklmnopqrstuvPERnYGBtfaZsa81/MWXjFlIdCQLGDOjVmgP71rJqhw8=","email":"alexa@innovators.com","extraFields":null,"updatedAt":1598384552000}}]}]}}